*{
    box-sizing: border-box;
}
body{
    font-family: 'Cinzel', sans-serif;
    background: url('1.png') top no-repeat, black ;
    background-attachment: fixed;
    background-size: auto 100%;
}
aside{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 2rem;
    color: white;
    z-index: 1;
    max-width: 30rem;
    margin:1rem;
    text-align: center;
}
a{
     padding: 1rem;
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:800;
    color:#000000;
    background-color:#ffd23e;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.25);
    text-align:center;
}
a:active{
    top:0.1em;
}
span{
    color:#efd046;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;

    max-width: 45rem;
}
.add-hero-button{
    position: relative;
    height: 10rem;
    border-radius: 1rem;
    display:inline-block;
    
    border-radius:1em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#ffd23e;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.25);
    text-align:center;
} 
.add-hero-button:active{
    top:0.1em;
}

.button-container{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: white solid 1px; */

    z-index: 2;
}
.flex{ 
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.minus-section{
    width: 50%;
    /* border: white solid 1px; */
    border-radius: 1rem 0 0 1rem;

}
.minus-section:hover{
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, white 100%);

}
.minus-section:active{
    background-color: white;
}

.plus-section{
    width: 50%;
    /* border: white solid 1px; */
    border-radius: 0 1rem 1rem 0;
    transition: 200ms;

}
.plus-section:hover{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, white 100%);

}
.plus-section:active{
    background-color: white;
}
.hero-container{
    position: relative;
    height: 12rem;
    transition: 200ms ease-in-out;
    /* border: brown solid 1px; */
    border-radius: 1rem;
    justify-content: right;box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;



}
.health-text{
    font-size: 5rem;
    color: white;
    margin-right: 12rem;

}
.hero-container.darren{
    background: url("darren.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #e0b225;
    box-shadow: 0px 0px 20px 20px #e0b22530;

}
.hero-container.arcanas{
    background: url("arcanas.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #0f61a3;
    box-shadow: 0px 0px 20px 20px #0f61a330;
}

.hero-container.heathenmoore{
    background: url("heathenmoore.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #3c7e3c;
    box-shadow: 0px 0px 20px 20px #3c7e3c30;
}
.hero-container.scathassia{
    background: url("scathassia.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #e71e25;
    box-shadow: 0px 0px 20px 20px #e71e2530;

}
.hero-container.nascha{
    background: url("nascha.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #f05423;
    box-shadow: 0px 0px 20px 20px #f0542330;
}
.hero-container.briar{
    background: url("briar.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #8e6e53;
    box-shadow: 0px 0px 20px 20px #f0542330;
}
.hero-container.gwendolyn{
    background: url("gwendolyn.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #a757a2;
    box-shadow: 0px 0px 20px 20px #f0542330;
}
.hero-container.jugolach{
    background: url("jugolach.png") no-repeat left center/50%, url("HP.png") no-repeat 80% center / contain, #ee342c;
    box-shadow: 0px 0px 20px 20px #f0542330;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.966);
    box-shadow: 0px 0px 40px 20px rgba(248, 246, 133, 0.267);
    padding: 2rem;

}
.custom-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    gap: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.966);
    box-shadow: 0px 0px 40px 20px rgba(248, 246, 133, 0.267);
    padding: 2rem;
    color: white;
}
.custom-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
  }
.overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.75);
    pointer-events: none;
}
.overlay.active{
    opacity: 1;
    pointer-events: all;
  }
.modal-hero-button{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: black solid 1px;
}
.modal-hero-button.darren{
    background: url("darren.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, #efd046 100%);
    background-size: 150%;
}
.modal-hero-button.arcanas{
    background: url("arcanas.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,122,255,1) 100%);
    background-size: 150%;
 
}
.modal-hero-button.heathenmoore{
    background: url("heathenmoore.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, #62ef46 100%);
    background-size: 150%;
}
.modal-hero-button.scathassia{
    background: url("scathassia.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, #ef4646 100%);
    background-size: 150%;

}
.modal-hero-button.nascha{
    background: url("nascha.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, #ef8a46 100%);
    background-size: 150%;

}
.modal-hero-button.briar{
    background: url("briar.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, #8e6e53 100%);
    background-size: 150%;

}
.modal-hero-button.gwendolyn{
    background: url("gwendolyn.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, #a757a2 100%);
    background-size: 150%;

}
.modal-hero-button.jugolach{
    background: url("jugolach.png") center/contain no-repeat, linear-gradient(90deg, rgba(255,255,255,0) 0%, #ee342c 100%);
    background-size: 150%;

}
.custom-button{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: white solid 1px;
}
.disabled{
    filter:saturate(0);
}
@media screen and (max-width: 1800px) {
    aside{
        position:relative;
        margin: 2rem auto;
        left: 0;
        padding: 1rem;

    }
    .add-hero-button{
        display: none;
    }
    .settings-button{
        position: fixed;
        bottom: 1rem;
        margin: 0 auto;
        display: flex;
        border-radius: 50%;
        background-color: gray;
        color: white;
        width: 5rem;
        height: 5rem;
        justify-content: center;
        align-items: center;
        left: 75%;
        z-index: 2;
    }
    .hero-container{
        height: 10rem;
    }
    .health-text{
        margin-right: 6rem;
        font-size: 4rem;
    }
    .modal{
        flex-direction: column;

    }
    .modal-hero-button{
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }

}